.story img{
    height: 60px;
    width: 50px;
    border-radius: 60%;
}


.Main{
    display: flex;
    justify-content: space-between;
}
.Rside{
    height: 50rem;
    width: 21%;
    left:0;
    flex-wrap: wrap;
    padding: 1rem;
}
.Profile{
    display: flex;
    align-items: center;
}

.Profile:hover{
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    cursor: pointer;
}
.RsideText{
    font-size: 1rem;
    padding-left: 0.5rem;
}
.Profile >img{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    object-fit: cover;

}


.Pro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.Pro:hover{
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    cursor: pointer;
}
.Pro >div{
    margin: 10px;
    font-size: 1rem;

}
.Pros{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-bottom: .1rem rgb(68, 62, 62) solid;
}
.Profiles{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: .5rem;
    flex-wrap: wrap;
    height: 38px;
}
.Profiles>div{
    padding-left: .5rem;
}
.Profiles:hover{
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    cursor: pointer;
}
.Profiles >img{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    object-fit: cover;

}

.Pross{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: .5rem;
    
}
.Pross >div{
    padding-left: .5rem;
}

.Lside{
    height: 50rem;
    width: 21%;
    left:0;
    flex-wrap: wrap;
}
.Contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

}
.Contacts{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}
.chaticon{
    display: flex;
}
.Profilee{
    display: flex;
    align-items: center;
}
.Profilee >img{
    border-radius: 100%;
    width: 32px;
    height: 32px;

}
.ProfileeText{
    font-size: 1rem;
    font-weight: normal ;
}

.MainArea{
    display: grid;
    width: 500px;
    height: 30rem;
    justify-content: center;

}
.addStory{
    display: flex;
    width: 100%;
    margin: 20px 0;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
.Story{
    width: 113px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-radius: .5rem;
    background-color: black;
}

.StoryText{
    z-index: 9999;
    font-size: 1rem;
    font-weight: bold;
    top: 0;
}

.storyPic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    z-index: 9999;
    object-fit: fill;
    margin-top: 10px;
    margin-right: 60px;
    border: 3px solid blue;
}

.storyImg{
    object-fit: cover;
    width: 113px;
    height: 200px;
    position: absolute;
}

.message{
    display: grid;
    height: 25rem;
    width: 100%;
}
.Post{
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: white;
    margin-left: 0;
    align-items: center;
}
.Post > div{
    margin-left: 2px;
}
.Post > img{
    height: 45px;
    border-radius: 100%;
    width: 45px;
    margin: 15px;
}
input[type=Mind]{
    width: 100%;
    margin: 15px 0;
    margin-right: 15px;
    height: 3rem;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-left: 0;
    box-sizing: border-box;
    font-size: 1rem;
    padding-inline: 1rem;
}
.Call{
    display: flex;
    align-items: center;
    margin-left: 0;
    height: 4rem;
    width: 500px;
    background-color: white;
}

.ico{
    display: flex;
    align-items: center;
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 1rem;
}
.icone >div{
    margin-left: .5rem;
}
.Posted{
    display: grid;
    height: auto;
    width: 500px;
    align-items: flex-start;
    background-color: white;
    margin-top: 5%;
}
.poster{
    display: flex;
    justify-content: space-between;
}
.Simplilearn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    font-size: 1rem;
    font-weight: bolder;
}
.Simplilearn >img{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: .5rem;
}
.simpleLearnText:hover{
    text-decoration: underline;
}
.update{
    font-size: 0.7rem;
    font-weight: lighter;
    margin-top: 0.2rem;
    color: #a5a5a5;
}
.edit{
    margin: 1.5rem 1rem;
}
.caption{
    font-size: 1rem;
    font-weight: lighter;
    word-wrap: break-word;
    padding-left: 4%;
    margin-bottom: 1rem;
}
.Comment{
    display: flex;
    justify-content: space-around;
    height: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.Like{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: lighter;
    font-size: 1rem;
}

.Like div{
    margin-left: 0.5rem;
}
.Profilee>img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    padding: 0.5rem;

}
.Profilee:hover{
    background-color: rgb(218, 218, 218);
    border-radius: 0.5rem;
}

.linePro{
    border-bottom: 1px solid #CED0D4;
    display: block;
    margin-bottom: 0;
    margin-left: 16px;
    margin-top: 8px;
    margin-right: 16px;
    line-height: 1.34;
    direction: ltr;
}

.linePro2{
    border-bottom: 1px solid #CED0D4;
    display: block;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 1.34;
    direction: ltr;
}